
    <!-- Footer -->
    <div class="footer">
        <div class="container grid grid--footer">
            <div class="footer-logo">
                <a href="" class="logo">Dolu</a>
            </div>

            <div class="center-col">
                <ul class="footer-list">
                    <li><a href="" class="footer-link">About</a></li>
                    <li><a href="" class="footer-link">Contact</a></li>
                    <li><a href="" class="footer-link">Terms of Service</a></li>
                    <li><a href="" class="footer-link">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="right-col">
                <div class="copyright">
                    <p>All Rights Reserved</p>
                </div>
                <div class="media-links">
                    <a href="">
                        <img src="img/play-store.png" alt="">
                    </a>
                    <a href="">
                        <img src="img/app-store.png" alt="">
                    </a>
                </div>
            </div>

        </div>
    </div>

</body>
<script type="text/javascript" src="../style/main.js"></script>
<script src="../style/swiper-bundle.min.js"></script>
<script src="../style/slider.js"></script>
<script src="../style/navigator.js"></script>

</html>