<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/segoe-fonts@1.0.1/segoe-fonts.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/queries.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../style/swiper-bundle.min.css">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>



    <title>Document</title>
</head> 

<div class="loaderWrapper">
    <h2 class="loader-logo center">Dolu</h2>
    <div id="loader" class="center"></div>
</div>
<body class="loading">
    <!-- Header -->
    <div class="header ">
        <a href="/" class="logo">Dolu</a>
        <div class="navbar">
            <ul class="nav-list">
                <li class="nav-li"><a class="active" href="/shows">TV Shows</a></li>
                <li class="nav-li"><a href="/movies">Movies</a></li>
                <li class="nav-li"><a href="/last">Recently Added</a></li>
            </ul>
        </div>
        <div class="right">

            <div class="toggle">
                <a href="javascript:void(0)" class="toggle"><i class="bx bx-menu"></i></a>
                <div class="dropdown-menu hidden-menu">
                    <ul class="nav-list">
                        <li class="nav-li"><a class="active" href="/movies">Movies</a></li>
                        <li class="nav-li"><a href="/shows">TV Shows</a></li>
                        <li class="nav-li"><a href="/last">Recently Added</a></li>
                    </ul>
                </div>
            </div> 
            <a href="javascript:void(0)" class="nav-notification">
                <i class="bx bx-bell"></i>
            </a>

            <!--  
            <div class="dropdown-user hidden-menu">
                <ul class="nav-list">
                    <li class="nav-li"><a href="">Movies</a></li>
                    <li class="nav-li"><a href="">TV Shows</a></li>
                    <li class="nav-li"><a href="">Documentary</a></li>
                    <li class="nav-li"><a href="">Animations</a></li>
                </ul>
            </div> -->

        </div>


    </div>

        <!-- Modal content -->
        <div id="notificationModal" class="modal hidden-modal">
            <div class="modal-content"> 
              <h1 class="tab-title">Notifications</h1>
              <div class="">
                <ul class="tab-list">
                    <li>
                         <a href="" tabindex='0'>
                            <img src="img/1.jpg" class="side-tab-img" alt=""> 
                        <div class="trailer-text">
                            <span>Succession New Episode</span>
                            <span>6 April 2023</span>
                        </div>
                         </a>
                    </li>
                    <li>
                         <a href="" tabindex='0'>
                            <img src="img/1.jpg" class="side-tab-img" alt=""> 
                        <div class="trailer-text">
                            <span>Succession New Episode</span>
                            <span>6 April 2023</span>
                        </div>
                         </a>
                    </li>
                    <li>
                         <a href="" tabindex='0'>
                            <img src="img/1.jpg" class="side-tab-img" alt=""> 
                        <div class="trailer-text">
                            <span>Succession New Episode</span>
                            <span>6 April 2023</span>
                        </div>
                         </a>
                    </li>
                    <li>
                         <a href="" tabindex='0'>
                            <img src="img/1.jpg" class="side-tab-img" alt=""> 
                        <div class="trailer-text">
                            <span>Succession New Episode</span>
                            <span>6 April 2023</span>
                        </div>
                         </a>
                    </li>
                    <li>
                         <a href="" tabindex='0'>
                            <img src="img/1.jpg" class="side-tab-img" alt=""> 
                        <div class="trailer-text">
                            <span>Succession New Episode</span>
                            <span>6 April 2023</span>
                        </div>
                         </a>
                    </li>
                </ul>
              </div>
            </div>      
        </div>