<div class="sidebar">
    <a href="#" class="sidebar-user">
       <img src="../img/avatar.png" class="sidebar-user-img" alt="">
    </a>
    <div class="menu">
        <a href="/home" class="nav-link nav-active">
            <img src="../img/icons/home2.svg" alt="">
        </a>
        <a href="/search" class="nav-link">
            <img src="../img/icons/search.svg" alt="">
        </a>
        <a href="/bookmarks" class="nav-link">
            <img src="../img/icons/bookmark.svg" alt="">
        </a>
        <a href="javascript:void(0)" class="nav-link settings">
            <img src="../img/icons/settings.svg" alt="">
        </a>
        <a href="#home" class="nav-link">
            <img src="../img/icons/calendar.svg" alt="">
        </a>
    </div>
    
    <a href="" class="nav-link">
        <img src="../img/icons/logout.svg" alt="">
    </a>
</div>