.auth-container {
    top: 50%;
    left: 50%;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transform: translate(-50%,-50%);
}
.companies {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
}
.companies img {
    width: 15%;
    aspect-ratio: 3/2;
    object-fit: contain;
    border-radius: 1rem;
}

.tab-wrapper {
    max-width: 400px;
    background-color: #181816;
    padding: 2rem;
    margin: 0 auto;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  /* Tab styling */
  .tab {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.auth-page-title {
    color: #ffb43a;
    padding-bottom: 1rem;
    align-self: center;
}
.tab button {
    flex: 1;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: all .3s;
    font-size: 18px;
    justify-content: center;
    background-color: #181816;
    border-radius: 1rem;
    color: white;
}
  
.tab button:hover {
    background-color: #20201e;
}
  
.tab button.active {
    background-color: #20201e;
}
  
/* Form styling */
.tabcontent {
    display: none;
    padding-top: 1rem;
    transition: all .3s;
}
  
/* Login form */
#login {
    display: flex; 
    flex-direction: column;
    gap: 1rem;
}
  
/* Register form */
#register {
    display: none;
    flex-direction: column;
    gap: 1rem;
}
  
/* Input styling */
form {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.tabhidden {
  display: none;
  transition: all .3s;
}
label {
    margin-bottom: 5px;
    color: #ffffff;
}
  
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #2f2f2c;
    border-radius: 3px;
    color: white;
    outline: none;
    background-color: #20201e;
}
form button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #2f2f2c;
    border-radius: 3px;
    width: 50%;
    background-color: initial;
    color: #fff;
    align-self: center;
}
  