<%- include('partials/header') %>
    <!-- Sidebar -->
    <%- include('partials/sidebar') %>
    <script type="text/javascript" src="../style/playerjs.js"></script>

    <div id="player"></div>
    <script>
        let player = new Playerjs({id:'player', file:"stream"})
    </script>
<script type="text/javascript" src="../style/main.js"></script>
<script src="../style/swiper-bundle.min.js"></script>
<script src="../style/slider.js"></script>
<script src="../style/navigator.js"></script>

</html>
